@import "navigation.css";

/* Header */

.header__title {
	font-size: 1.5rem;
	margin: 0;
}

@media (width > 700px) {
	.header__title {
		hyphens: none;
		font-size: 2.25rem;
	}
}

.header__text {
	color: rgb(var(--text-color) / 50%);
	margin: 15px 0;
}
